* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 100vw;
  height: 100vh;
  background: lightgrey;
}
.nav-bar {
  background: white;
  height: 120px;
  padding: 30px 20px;
  text-align: center;
}
.nav-bar img {
  float: left;
  width: 200px;
}
.nav-bar .nav-el {
  float: right;
  width: 130px;
}
.nav-el:hover {
  border-bottom: 2px solid lightgreen;
}
h2 {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 5px;
  color: #1B3C59;
  font-weight: 200;
  /* border-top: .5px solid grey; */
}
.active:hover {
  background: lightcoral;
  color: black;
}
.white {
  color: white;
}
.botton-n {
  float: right;
  background: orange;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 15px;
  width: 100px;
  height: 50px;
}
.botton-n h2 {
  color: white;
  margin: 0;
}
.botton-n:hover {
  filter: opacity(.5);
  transition: 1s;
}
.menu-h {
  display: none;
}
.h-m-cont {
  display: none;
}
@media (max-width: 1000px) {
  .h-m{
    color: grey;
    font-size: 25px;
    margin-top: 10px;
  }
  .h-m-cont {
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 10px;
  }
  .menu-h {
    width: 100%;
    height: 370px;
    background: #1B3C59;
    display: block;
    padding: 50px 30px
  }
  .x-x {
    float: right;
    color: lightgrey;
    margin: 10px 10px;
    font-size: 25px;
  }
  .nav-bar .nav-el, .nav-bar .botton-n {
    display: none;
  }
  .menu-cont {
    width: 150px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .menu-cont h2 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 5px;
    color: white;
    font-weight: 200;
    text-align: center;
  }
  .menu-cont .nav-el:hover {
    border-bottom: 2px solid white;
  }
}
